header{
    background-size: cover;
    background-position: center top;
    background-attachment:scroll;
    font-family: 'Nanum Gothic', sans-serif;
}
h2, #title{
    font-family: 'Nanum Gothic', sans-serif;
    color: #015293;
}
.hot{
    background-color:#d2e5fcc9;
}
#start-links{
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
p, table{
    font-family: 'Nanum Gothic', sans-serif;
}
.btn-secondary{
    float: right;
    margin-right: 1rem;
}
.btn-primary{
    float: right;
}